@using EntityLayer.Concrete;
@using Newtonsoft.Json;
@using EntityLayer.DTOs
@model UserProfileDTO
@inject IConfiguration _configuration


@{
    ViewData["Title"] = "GetUserData";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
    string apiUrl = _configuration["MyConfigurations:MyApiUrl"];
}

<div class="col-lg-9 col-md-12">
    <form action="/Dashboard/updateUserProfile" method="post">
        <div class="row pb-3">
            @{
                var id = int.Parse(Context.Request.Cookies["UserID"]);
                var httpClient = new HttpClient();
                var responseUser = await httpClient.GetAsync(apiUrl + "Users/getUserById?id=" + id);
                var contentUser = await responseUser.Content.ReadAsStringAsync();
                User user = JsonConvert.DeserializeObject<User>(contentUser);
            }
            <input hidden name="Id" value="@user.Id" />
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <input type="text" class="form-control" name="ProfilePhoto" value="@user.ProfilePhoto" placeholder="User profile image">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="@user.ProfilePhoto" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <input type="text" class="form-control" name="Name" value="@user.Name" placeholder="Name">
                        <input type="text" class="form-control" name="Surname" value="@user.Surname" placeholder="Surname">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-5">
                    <h5>Email</h5>
                    <p class="mb-4">@user.Email</p>
                    <h5>Username</h5>
                    <input type="text" class="form-control" name="UserName" value="@user.UserName" placeholder="UserName">
                    <h5>Phone Number</h5>
                    <input type="text" class="form-control" name="PhoneNumber" value="@user.PhoneNumber" placeholder="Phone Number (10 digits)" required pattern="\d{10}" minlenth="10" maxlength="10">

                    <h5>Gender</h5>
                    <p class="mb-4">
                        @if (user.Gender)
                        {
                        <p>Male</p>
                        }
                        else
                        {
                        <p>Female</p>
                        }
                    </p>
                </div>
                <a href="/Dashboard/Index" class="btn btn-danger">Cancel</a>
                <button class="btn btn-success ">Save</button>
            </div>






        </div>
    </form>
</div>